<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>{% block title %}{% endblock %} - {{project_title}}</title>
    {% endblock %}
</head>
<body>

<header>
    {% from 'bootstrap/nav.html' import render_nav_item %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top">
        <a class="navbar-brand" href="{{url_for('main_page')}}">{{project_title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{{url_for('show_user', target_user_id=user.id)}}" data-toggle="tooltip"
                       title="User ID: {{ user.id }}"">Logged in as: {{ user.email }}<span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{{url_for('register')}}" data-toggle="tooltip" title="Click here to register a new account"">Welcome, Guest
                    <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
                {% if user.id == 1 %} <!-- ADMIN -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if all_users %}
                        {% for each_user in all_users %}
                        <a class="dropdown-item" href="{{url_for('show_user', target_user_id=each_user.id)}}">{{each_user.email}}</a>
                        {% endfor %}
                        {% else %}
                        <div class="dropdown-item"> No Users</div>
                        {% endif %}
                    </div>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Patients
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if patients %}
                        {% for patient in patients %}
                        <a class="dropdown-item" href="{{url_for('get_patient', target_patient_id=patient.id)}}">{{patient.last_name}}, {{patient.first_name}}</a>
                        {% endfor %}
                        {% else %}
                        <div class="dropdown-item"> No patents</div>
                        {% endif %}
                        <hr>
                        <a class="dropdown-item" href="{{url_for('add_new_patient')}}">Add Patient</a>
                    </div>
                </li>
                {% endif %}
                <li class="nav-item active">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{{url_for('logout')}}" data-toggle="tooltip"
                       title="Logged in as: {{ user.email }}"">Logout <span class="sr-only">(current)</span></a>
                    {% else %}
                    <a class="nav-link" href="{{url_for('login')}}" data-toggle="tooltip" title="Some tooltip text!">Login
                    <span class="sr-only">(current)</span></a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>

<main>


    <div class="container my-3">
        <!-- Your page content -->
        {% block content %}{% endblock %}
    </div>
    <div class="py-5 my-1"></div>
</main>

<footer">
    <div class="d-flex navbar navbar-light bg-light justify-content-center fixed-bottom p-2">
        <div class="container d-block justify-content-center text-center">
            <div class="row">
                <div class="col-12">
                    &copy; {{created_year}}
                    {% if (current_year) > (created_year) %}
                    {{current_year}}
                    {% endif %}
                    <a href="https://edwestfieldjr.com/">Edward Francis Westfield Jr.</a>
                </div>
            </div>
            <div class="row p-0 m-o">
                <div class="col-12 col-sm-6 text-secondary small px-1 m-o text-centert text-sm-right">
                    <strong class="text-danger">For Testing Purposes Only</strong>
                </div>
                <div class="col-12 col-sm-6 text-secondary small px-1 m-o text-center text-sm-left">

                    Visit the&nbsp;</span><a href="https://github.com/edwestfieldjr/BP-Tracker">GitHub repository</a> for more information</span>
                </div>
            </div>
        </div>
    </div>
</footer>

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock %}
</body>
</html>