{% extends "layouts/base.html" %}

{% block title %}{{pageheading}}{% endblock %}

{% block head %}

{{ super() }}

{% endblock %}


{% block content %}

<h2>{{pageheading}}</h2>


{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <li class="text-danger">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}


{% from 'bootstrap/form.html' import render_form %}

{{ render_form(form) }}

<div class="d-flex justify-content-end"><a href="{{ url_for('main_page')}}"
                                           class="justify-content-end btn btn-danger">Cancel</a></div>


{% endblock %}