{% extends "layouts/base.html" %}

{% block title %}Main{% endblock %}

{% block head %}

{{ super() }}

{% endblock %}
{% block content %}

<h4>{{pageheading}}</h4>
<h1>{{patient.last_name}}, {{patient.first_name}}</h1>

{% if has_image %}
<div class="m-0 p-0">
    <img src={{graph_url}} alt="Chart" height="100%" width="100%">
</div>
{% endif %}


<table class="table table-striped table-hover" border="0">
    <thead class="thead-dark">
    <tr>
        <th colspan="100%"><strong>{{ patient.last_name}}, {{patient.first_name}} {{patient.middle_name_or_initial}}</strong> (DOB: {{patient.date_of_birth.strftime("%m/%d/%Y")}})<a href="{{ url_for('add_new_reading', target_patient_id=patient.id) }}" class="btn btn-danger float-right">Add reading</a></th>
    </tr>
    <tr>
        <td colspan="100%">{{page_sub_heading}}</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="1" class="align-middle text-center"></th>
        <th colspan="2" class="align-middle text-center">Date</th>
        <th class="align-middle text-right pr-5">Time</th>
        <th class="align-middle text-center">Reading (mmHg)</th>
        <th class="align-middle text-center">Pulse (bpm)</th>
    </tr>
    {% for m in range(bp_readings|length) %}
    {% if bp_readings[m].patient_id == patient.id %}
    <tr>
        <td class="align-middle text-center">
            <table class="m-0 p-0 table-light table-sm bg-transparent">
                <tr class="m-0 p-0 table-light bg-transparent">
                    <td class="m-0 p-0 table-light bg-transparent">
                        <a class="btn btn-sm btn-block btn-outline-primary"
                           href="{{ url_for('edit_reading', target_patient_id=patient.id, target_reading_id=bp_readings[m].id) }}">Edit</a>
                    </td>
                </tr>
                <tr class="m-0 p-0 table-light bg-transparent">
                    <td class="m-0 p-0 table-light bg-transparent">

                        <button type="button" class="btn btn-sm btn-block btn-outline-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>

                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to delete this record?
                                        <li>Patient: {{patient.name}}</li>
                                        <li>Time of reading: {{bp_readings[m].time_of_reading.strftime('%a')}}{{bp_readings[m].time_of_reading.strftime('%m/%d/%Y')}}{{bp_readings[m].time_of_reading.strftime('%-I:%M %p')}}</li>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                        </button>
                                        <a type="button" class="btn btn-danger" href="{{ url_for('delete_reading', target_patient_id=patient.id, target_reading_id=bp_readings[m].id) }}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td class="align-middle text-right">{{bp_readings[m].time_of_reading.strftime('%a')}}</td>
        <td class="align-middle text-left">{{bp_readings[m].time_of_reading.strftime('%m/%d/%Y')}}</td>
        <td class="align-middle text-right pr-5">{{bp_readings[m].time_of_reading.strftime('%-I:%M %p')}}</td>
        <td class="align-middle text-center">

            <table border="0" class="table table-sm m-0 p-0">
                <tr border="0" class="bg-transparent m-0 p-0">
                    <td border="0" class="m-0 px-0 py-0 align-middle text-right"><span style="font-size:1.5rem"><strong>{{bp_readings[m].systolic_mmhg}}</strong></span>
                    </td>
                    <td border="0" class="m-0 px-1 py-0 align-middle text-left">Sys</td>
                </tr>
                <tr border="0" class="bg-transparent">
                    <td border="0" class="m-0 px-0 py-0 align-middle text-right"><span style="font-size:1.5rem"><strong>{{bp_readings[m].diastolic_mmhg}}</strong></span>
                    </td>
                    <td border="0" class="m-0 px-1 py-0 align-middle text-left">Dia</td>
                </tr>
            </table>

        </td>
        <td class="align-middle text-center"><span class="text-danger">&hearts;</span> {{bp_readings[m].pulse_bpm}}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>

</table>


{% endblock %}